﻿﻿﻿﻿﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zamów Książkę</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/myCss.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZamowKsiazke.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Store" asp-action="Index">Zamów Książkę</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Index">Sklep</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="BookBorrowing" asp-action="MyBorrowings">
                                    <i class="fa-solid fa-book-reader"></i> Moje wypożyczenia
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Order" asp-action="MyOrders">
                                    <i class="fa-solid fa-shopping-bag"></i> Moje zamówienia
                                </a>
                            </li>
                        }
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Indeks książek</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ListAllRoles">Role</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Raporty
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="ActivityReport">Raport Aktywności</a></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="UserLoginReport">Statystyki Logowań</a></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="RecentActivities">Ostatnie Aktywności</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="BookActivityReport">
                                        <i class="fa-solid fa-book-open"></i> Aktywność Książek
                                    </a></li>
                                    <li><a class="dropdown-item" asp-controller="BookBorrowing" asp-action="PopularBooks">Popularne Książki</a></li>
                                    <li><a class="dropdown-item" asp-controller="BookBorrowing" asp-action="ManageRequests">
                                        <i class="fa-solid fa-list-check"></i> Zarządzaj Wypożyczeniami
                                    </a></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="ManageOrders">
                                        <i class="fa-solid fa-money-bill"></i> Zarządzaj Zamówieniami
                                    </a></li>
                                </ul>
                            </li>
                        }     
                    </ul>
                    <partial name="_LoginPartial" />
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Zamów Książkę - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
