@model ZamowKsiazke.Models.Book

@{
    ViewData["Title"] = "Edytuj";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Edytuj</h1>

    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <h4 class="card-title">Książka</h4>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-3">
                    <label asp-for="Title" class="form-label">Tytuł</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description" class="form-label">Opis</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Language" class="form-label">Język</label>
                    <input asp-for="Language" class="form-control" />
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ISBN" class="form-label">ISBN</label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DatePublished" class="form-label">Data publikacji</label>
                    <input asp-for="DatePublished" class="form-control" />
                    <span asp-validation-for="DatePublished" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Price" class="form-label">Cena</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Author" class="form-label">Autor</label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ImageUrl" class="form-label">URL obrazu</label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-warning"><i class="fa-solid fa-backward-step"></i>&nbsp;Powrót</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
