@page "/checkout"
@model ZamowKsiazke.Models.Order

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Potwierdź swój zakup</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
                        
                        
                        <!-- Existing form fields -->
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Kupuję i płacę</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
